@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Tektur:wght@400..900&display=swap');

@import "tailwindcss";

@theme inline {
  --font-hero: "Orbitron", sans;
  --font-sans: "Outfit", sans;
  --font-mono: "JetBrains Mono", monspace;
}

span#hidden-element {
  @apply bg-lime-400 text-nowrap text-black font-semibold h-max px-8 py-3 flex gap-2 items-center rounded-full cursor-pointer;
}
